@font-face {
    font-family: 'sfcompact';
    src: url('SF-Compact-Text-Medium.ttf') format('truetype');
}

@font-face {
    font-family: "bodoni";
    src: url('bodoni/bodoni.ttf') format('truetype');
}

@font-face {
    font-family: "terminus";

    src: url('terminus.ttf') format('truetype');
}

* {margin: 0; padding: 0}
body {background: color(rgb(0, 0, 0))}


.highlight {
    background-color: #000;
}


.background-square {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(dreamy_tales/assets/background.png);
    background-size: cover;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
    z-index: -1;
}

.videogif {
    position: relative;
    border-radius: 5%;
    border: #000;
    background-color: #000;
    border: 1px solid rgb(42, 45, 42);
    border-radius: 16px;
    padding: 16px;
    box-shadow: 10px 10px 10px rgb(10, 15, 15);
}


.title-box {
    position: fixed;
    top: 0;
    font-family: 'sfcompact';
    width: 100%;
    height: 50px;
    background-color: #000;
    border: 1px solid rgb(42, 45, 42);
    padding-top: 8px;
    padding-bottom: 16px;
    border-radius: 8px;
    text-align: center;
    color: #fff;
    z-index: 1;
}



.container {
    position: relative;
    font-family: "sfcompact";
    padding: 12px;
    top: 5%;
    text-align: center;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px; /* Adjust the margin-top as needed */
}

.container h1 {
    margin-top: 3%;
    top: 50%;
    left: 50%;
    font-size: 48px; /* Adjust the font-size for size */
    color: rgb(255, 255, 255);

    margin-bottom: 10px;
    letter-spacing: 8px; /* Adjust the letter spacing */
    margin-bottom: 8px;
    margin-left: 16px
}
.container h2 {
    top: 50%;
    left: 50%;
    font-size: 28px; /* Adjust the font-size for size */
    color: rgb(255, 255, 255);
    margin-top: 10px;
     /* Adjust the letter spacing */
    margin-bottom: 24px;
    margin-left: 15%;
    margin-right: 15%;
}

.container h6 {
    top: 50%;
    left: 50%;
    font-size: 14px; /* Adjust the font-size for size */
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    letter-spacing: 4px; /* Adjust the letter spacing */
    margin-bottom: 8px;
}

.container .logo {
        position: relative;
        margin-top: 1%;
        width: 150px;
        height: 150px;
        border-radius: 32px;
    }


/* Media query for small screens */
@media (max-width: 768px) {
    .container {
        width: 90%; /* Increase width for smaller screens */
        padding: 10px; /* Decrease padding for smaller screens */
    }

    .container h1 {
        font-size: 28px; /* Decrease font-size for smaller screens */
    }

    .container .btn {
        padding: 12px 32px; /* Decrease padding for smaller screens */
        font-size: 16px; /* Decrease font-size for smaller screens */
    }
}


