@font-face {
    font-family: 'sfcompact';
    src: url('SF-Compact-Text-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'sfcompactthin';
    src: url('SF-Compact-Display-Thin.ttf') format('truetype');
}

@font-face {
    font-family: "bodoni";
    src: url('bodoni/bodoni.ttf') format('truetype');
}

@font-face {
    font-family: "terminus";

    src: url('terminus.ttf') format('truetype');
}

* {margin: 0; padding: 0}

body {
    background-color: rgb(255, 255, 255);

}

.background-square {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 210px;
    background-image: url(dreamy_tales/assets/background.png);
    z-index: -1;
}


.title-box {
    position: fixed;
    top: 0;
    font-family: 'sfcompact';
    width: 100%;
    height: 50px;
    background-color: #000;
    border: 1px solid rgb(42, 45, 42);
    padding-top: 8px;
    padding-bottom: 16px;
    border-radius: 8px;
    text-align: center;
    color: #fff;
    z-index: 1;
}

.logo {
    position: relative;
    top: 56px;
    margin-top: 16px;
    width: 150px;
    height: 150px;
    border-radius: 32px;
}



.container {
    font-family: "sfcompact";
    padding: 12px;
    text-align: center;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px; /* Adjust the margin-top as needed */

    max-height: 100%;
}

.container h1 {
    position: relative;
    top: 84px;
    font-size: 64px; /* Adjust the font-size for size */
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    letter-spacing: 8px; /* Adjust the letter spacing */
    margin-bottom: 8px;
    margin-left: 16px;
}
.container h2 {
    position: relative;
    margin-top: 3%;
    font-family: "sfcompactthin";
    top: 124px;
    height: 628px;
    width: 700px;
    line-height: 1.5;
    text-align: left;
    font-size: 24px; /* Adjust the font-size for size */
    color: rgb(0, 0, 0);
    margin-top: 10px;
     /* Adjust the letter spacing */
    margin-bottom: 8px;

}


.videogif {
    position: relative;
    top: 0px;
    width: 200px;
    padding: 0;
    bottom: 0;
    border-radius: 10%;
    border: #000;
    background-color: #000;
    border: 2px solid rgb(42, 45, 42);

}


.showcase {
    position: relative;
    top: 64px; 
    width: 700px;
    border-radius: 24px;
    padding-bottom: 224px;
}



.container h6 {
    top: 50%;
    left: 50%;
    font-size: 14px; /* Adjust the font-size for size */
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    letter-spacing: 4px; /* Adjust the letter spacing */
    margin-bottom: 8px;
}






/* Media query for small screens */
@media (max-width: 768px) {
    .container {
        width: 90%; /* Increase width for smaller screens */
        padding: 10px; /* Decrease padding for smaller screens */
    }

    .container h1 {
        font-size: 28px; /* Decrease font-size for smaller screens */
    }

    .container .btn {
        padding: 12px 32px; /* Decrease padding for smaller screens */
        font-size: 16px; /* Decrease font-size for smaller screens */
    }
}


