@font-face {
    font-family: 'MatriBoo';
    src: url('matriBoo.ttf') format('truetype');
}

@font-face {
    font-family: "matrix";
    src: url('matrix.ttf') format('truetype');
}

@font-face {
    font-family: "terminus";

    src: url('terminus.ttf') format('truetype');
}

* {margin: 0; padding: 0}
body {background: rgb(1, 22, 1);}
canvas {display: block;}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    height: 550px;
    padding: 20px;
    text-align: center;
    border-radius: 18px;
    background-image: radial-gradient(circle, #000000, #000000, transparent, transparent);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container h1 {
    font-size: 32px; /* Adjust the font-size for size */
    color: rgb(0, 255, 0);
    font-family: "terminus";
    margin-bottom: 10px;
    word-spacing: 12px; /* Adjust the word spacing */
    letter-spacing: 4px; /* Adjust the letter spacing */
    margin-bottom: 0px;
}

.container .buttons {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 12px;
}

.container .btn {
    
    margin: 6px 6px;
    font-family: "terminus";
    padding: 12px 64px;
    font-size: 18px;
    color: rgba(0, 255, 0);
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    cursor: pointer;
}

/* Media query for small screens */
@media (max-width: 768px) {
    .container {
        width: 90%; /* Increase width for smaller screens */
        padding: 10px; /* Decrease padding for smaller screens */
    }

    .container h1 {
        font-size: 28px; /* Decrease font-size for smaller screens */
    }

    .container .btn {
        padding: 12px 32px; /* Decrease padding for smaller screens */
        font-size: 16px; /* Decrease font-size for smaller screens */
    }
}